
body {
    margin: 0;
    overflow: hidden;
    background: #87ceeb;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
canvas {
    display: block;
    margin: auto;
    background: transparent;
}
#start-screen, #game-over {
    position: absolute;
    top: 30%;
    width: 100%;
}
#score {
    position: absolute;
    top: 10px;
    left: 10px;
}
#music-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}
